@import "~materialize-css/dist/css/materialize.min.css";


input.yellow-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label {
  color: #ffffff!important;
}

input.yellow-input:focus + label {
  color: #ffeb3b!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b!important;
  box-shadow: 0 1px 0 0 #ffeb3b!important;
}

.bpmn-modeler {
  text-align: center;
}

.bpmn-modeler-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .bpmn-modeler-logo {
    animation: bpmn-modeler-logo-spin infinite 20s linear;
  }
}

.bpmn-modeler-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bpmn-modeler-link {
  color: #61dafb;
}

@keyframes bpmn-modeler-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: green !important; /* color elements as green */
  stroke: yellow;
}

.bjs-powered-by {
  display: none;
}

.save-link {
  margin-right: 10px;
}

.main-page {
  display: flex;
  justify-content: space-between;
}

.save-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sidebar-menu {
  margin: 5px;
}
